#map {
    /*width: 960px;*/
    height: 600px;
}

 .leaflet-pane > svg path{
    pointer-events: visible;
}

.leaflet-container {
    overflow: hidden;
    -ms-touch-action: none;
}

.leaflet-bottom {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}


.leaflet-control {
    position: relative;
    z-index: 7;
    pointer-events: auto;
}

.flowlineSpur1 {
    fill: none;
    /*stroke: blue;*/
    opacity: 0.5;
    /*stroke-width: 4;*/
    stroke-dasharray: 10, 10;
    animation: flow1 1s linear infinite;
    -webkit-animation: flow1 1s linear infinite;
}

@keyframes flow1 {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes flow1 {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.flowlineSpur2 {
    fill: none;
    /*stroke: blue;*/
    opacity: 0.5;
    /*stroke-width: 4;*/
    stroke-dasharray: 10, 10;
    animation: flow2 1s linear infinite;
    -webkit-animation: flow2 1s linear infinite;
}

@keyframes flow2 {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 20;
    }
}

@-webkit-keyframes flow2 {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 20;
    }
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 35px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 999;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */

}

input[type=range]:disabled + .thumb{
    background-color: #dedede;
}
input[type=range]:disabled + .thumb.active .value{
    color: #B8B8B8;
}

input[type=range]:disabled::-webkit-slider-thumb{
    background-color: #B8B8B8;
}
input[type=range]:disabled::-moz-range-thumb{
    background-color: #B8B8B8;
}
input[type=range]:disabled::-ms-thumb{
    background-color: #B8B8B8;
    background-color: #B8B8B8;
}
