#map {
    /*width: 960px;*/
    height: 500px;
}

 .leaflet-pane > svg path{
    pointer-events: visible;
}

.leaflet-container {
    overflow: hidden;
    -ms-touch-action: none;
}

.leaflet-bottom {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}


.leaflet-control {
    position: relative;
    z-index: 7;
    pointer-events: auto;
}

.flowline {
    fill: none;
    stroke: blue;
    opacity: 0.5;
    /*stroke-width: 4;*/
    stroke-dasharray: 10, 10;
    animation: flow 1s linear infinite;
    -webkit-animation: flow 1s linear infinite;
}

@keyframes flow {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes flow {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 35px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 999;
}